body {
	background-color: #000000;
	font-family: Verdana, Helvetica, Arial, san-serif;
}

h1 {
	color: #860c0c;
	font-size: 1.5rem;
}

nav {
	color: #ff8300;
	font-size: 0.75rem;
}

nav a {
	color: #ff8300;
}

#right-content {
	background-image: url("../images/bat-country-fly-animated.gif");
	background-repeat: no-repeat;
	background-position: 20% 0%;
}

.center {
	text-align: center;
}

#maincontent {
	background-color: #ff8300;
	background-image: radial-gradient( #ffff63, #fe6601 );
	border-radius: 20px;
	font-size: 0.75rem;
	padding: 1.5rem;
}